@import '../../..//styles.scss';

.container-fluid{
    background: linear-gradient( to top ,transparent 65%, $light-main 20%, $light-main) no-repeat bottom;
	background-size: 100% 100%;
    padding: 20px;
    color: $light-white;
    margin-top: -2px;
    // height: 100vh;
    .skill_heading{
        font-size: 45px
    }
    .mat-card{
        background-color: $light-white;
        box-shadow: 0 0 1px $light-main;
        border-radius: 4px;
        line-height: 50px;
        .mat-card-subtitle{
            font-size: 15px;
        }
    }
}