<div class="container-fluid">
    <!-- <div class="text-center about_heading">
        <h1 class="text-uppercase">Who Am I?</h1>
    </div> -->
    <div class=" row d-flex flex-row about">
        <!-- <div class="col-12 col-md-6 text-center about_img">
            <img src="../../../assets/perfil.png">
        </div> -->
        <div class="col-12 col-md-6 about_para about_para text-md-center">
            <h2 class="about_subtitle">I'am Ravi Shankar</h2>
            <p class="about_text">Currently pursuing B.tech from Computer Science & Engineering Branch of Birsa Institute of Technology, Sindri.
                I always want To become a member of the team of experts of a organization. This will provide me an opportunity to develop my skills,
                education for continued self-growth, and enhancement of the organization in turn the nation.
            </p>
        </div>
    </div>
</div>