@import '../../../styles.scss';

.container-fluid{
    margin-top: -1px;
    padding: 40px 20px;
    color: $light-white;
    .about_heading{
        font-size: 50px
    }
    .about{
        display: flex;
        align-items: center;
        justify-content: center;
        .about_img{
            img{
                max-width: 50%;
                height: auto;
            }
        }
        .about_para{
            .about_subtitle{
                font-size: 30px !important;
                font-weight: bolder;
                margin: 30px 0;
            }
            p{
                line-height: 30px;
                font-size: 18px;
                text-align: justify;
            }
        }
    }
}

.light{
    .container-fluid{
        background: linear-gradient( to top, $light-main,$light-main) no-repeat bottom !important;
        background-size: 100% 100%;
    }
}

.dark{
    .container-fluid{
        background: linear-gradient( to top, $dark-light,$dark-light) no-repeat bottom !important;
        background-size: 100% 100%;
    }
}