<div class="container-fluid">
    <div class="row" >
        
        <div class="intro-name d-flex flex-column align-items-md-center justify-content-center" >
            <h1>Hi, I'am <span>Ravi Shankar</span></h1>
            <h6 style="font-style: italic;" >Currently pursuing B.tech from Computer Science & Engineering</h6>
            <h1>Web Developer</h1>
            <button mat-raised-button> Download Resume</button>
            <div class="social d-flex flex-row m-4" >
                <div *ngFor="let image of social">
                    <a href="{{image.link}}"><img src="{{image.image}}"></a>
                </div>
            </div>
        </div>
        <div class="header_img d-flex flex-column align-items-center justify-content-center"  >
            <img class="intro-img" src="../../../assets/intro1.jpeg">
        </div>
        
    </div>
</div>