
<div class="container-fluid">
  <div class="row">
    <div class="text-center testimonial_heading">
      <h2>Testimonials</h2>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="text-center testimonial_title">
            <p>The people I have worked with have said some good things...</p>
          </div>
        <div id="carousel" class="col-12 col-md-6 carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../assets/roshan.jpg" alt="...">
                  <p>Ravi is quite enthusiastic and a passionate coder. He has the ability to do the task in most efficient way.
                     It was a great experience to work with him and you can trust him with a overall project.</p>
                     <h6 class="text-center">Roshan Kumar Rajak-AVP Marketing(Milo Doctor)</h6>
                </div>
                <!-- <div class ="carousel-item" *ngFor="let testimonial of testimonial">
                  <img src="{{testimonial.image}}" alt="{{testimonial.ame}}">
                  <p>{{testimonial.description}}</p>
                     <h6 class="text-center">{{testimonial.name}}-{{testimonial.title}}</h6>
                </div> -->
              </div>
            <div class="d-flex align-items-center justify-content-center">
                <button mat-mini-fab class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>
                <button mat-mini-fab class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                  <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>
          </div>
    </div>    
  </div>
  </div>