<div [ngClass]="themeService.dark ? 'dark':'light'">
    <mat-sidenav-container>
    <mat-sidenav mode="over" #sidenav role="navigation" class="row" >
        <div class="col-2 d-flex flex-row justify-content-between">
            <div>
              <button class="mr-5" mat-fab (click)="sidenav.toggle();">
                <mat-icon>close</mat-icon>
              </button>
              <button class="mr-5" mat-fab *ngIf="!themeService.dark" (click)="switchTheme()">
                <mat-icon>dark_mode</mat-icon>
              </button>
              <button class="mr-5" mat-fab *ngIf="themeService.dark" (click)="switchTheme()">
                <mat-icon>light_mode</mat-icon>
              </button>
            </div>
            <mat-nav-list class="col-10">
             <a mat-list-item (click)="Navigate(home)">Home</a>
             <a mat-list-item (click)="Navigate(about)">About</a>
             <a mat-list-item (click)="Navigate(skill)">Skill</a>
             <a mat-list-item (click)="Navigate(project)"> Projects</a>
             <a mat-list-item (click)="Navigate(experience)">Experience</a>
            </mat-nav-list>
        </div>
    </mat-sidenav>
       <mat-sidenav-content (scroll)="onScroll($event)">
        <mat-toolbar fxLayout="row" class="bg-white" [class.main-toolbar-hide]="hideMainToolbar">
            
       <mat-label fxFlex="80">
           <img src="../../../assets/intro1.jpeg" style="width: 40px; height:40px; border-radius:50%;">
        </mat-label>
                 
                <mat-list fxLayout fxHide.lt-sm fxLayoutGap="50px">
                    <a mat-list-item (click)="Navigate(home)">Home</a>
                    <a mat-list-item (click)="Navigate(about)">About</a>
                    <a mat-list-item (click)="Navigate(skill)">Skill</a>
                    <a mat-list-item (click)="Navigate(project)"> Projects</a>
                    <a mat-list-item (click)="Navigate(experience)">Experience</a>
                    <a mat-list-item *ngIf="!themeService.dark" (click)="switchTheme()"><mat-icon>dark_mode</mat-icon></a>
                    <a mat-list-item *ngIf="themeService.dark" (click)="switchTheme()"><mat-icon>light_mode</mat-icon></a>
                </mat-list>
                <button mat-icon-button (click)="sidenav.toggle();"
                fxShow.xs
                fxHide.lt-xl>
                    <mat-icon>menu</mat-icon>
                </button>
        </mat-toolbar>
        
        <main>
            <div #home>
                <app-header></app-header>
            </div>
            <div #about>
                <app-about></app-about>
            </div>
            <div #skill>
                <app-skill></app-skill>
            </div>
            <div #project>
                <app-project></app-project>
            </div>
            <div #experience>
                <app-experience></app-experience>
            </div>
            <div>
                <app-testimonial></app-testimonial>
            </div>
            <div>
                <app-footer></app-footer>
            </div>
        </main>

    </mat-sidenav-content>
</mat-sidenav-container>

</div>

<!-- <div class="nav">
	<div (click)="Navigate(home)">Home</div>
	<div (click)="Navigate(about)">About</div>
	<div (click)="Navigate(contact)">Contact</div>
</div>
<div class="sections">
	<div #home class="container">
		<app-header></app-header>
	</div>
	<div #about class="container">
		<app-about></app-about>
	</div>
	<div #contact class="container">
		<h3>Contact</h3>
	</div>
</div> -->