@import '../../../styles.scss';


.mat-sidenav-container{
    height: 100vh;
    .mat-sidenav{
        height: 65vh;
        width: 100%;
        padding: 15px;
        border-radius: 0 0 100% 0;
            img{
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1) !important;
            }
            .mat-fab{
                background: linear-gradient(  $light-main,$light-main 20% ) no-repeat bottom !important;
                background-size: 100% 100%;
            }
        .mat-nav-list{
            a{
                color: $light-white;
                font-size: 25px;
                transition: 5s !important;
                margin: 6px;
            }
        }

    }
    .mat-toolbar{
        position: fixed;
        z-index: 99;
        box-shadow: 0 0 3px $light-main;
        a{
            text-decoration: none;
            cursor: pointer;
        }
        img{
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1) !important;
        }
        .mat-icon-button{
            width: 50px;
            height: 50px;
            padding: 5px;
            .mat-icon{
                font-size: 35px;
            }
        }
    }

      .main-toolbar-hide{
          display: none !important;
      }
}

.light{
    .mat-sidenav-container{
        background-color: $light-white !important;
            .mat-sidenav{
                background: $light-main !important;
            }
            .mat-toolbar{
                .mat-icon-button{
                    color: $light-main;
                }
            }
        }
}

.dark{
    .mat-sidenav-container{
        background-color: $dark-black !important;
        color: $light-white;
            .mat-sidenav{
                background: $dark-light !important;
                color: $light-white;
            }
            .mat-toolbar{
                background-color: $dark-light !important;
                a{
                    color: $light-white;
                }
                .mat-icon-button{
                    color: $light-white;
                }
            }
        }
}
  