@import '../../..//../styles.scss';


::ng-deep mat-dialog-container{
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    // overflow: hidden !important;
    height: auto !important;
.container-fluid{
    padding: 10px;
    .project_heading h1{
        font-size: 25px;
        font-weight: bold;
    }
    .project{
        img{
            width: 260px;
            height: 160px;
            box-shadow: 0 0 5px $light-main;
            margin: 5px;
        }
        .mat-raised-button{
            font-size: 15px;
            color: $light-white;
            border-radius: 30px;
            background-color: $dark-light;
            border: 5px solid $light-white;
            padding: 2px 5px;
            font-weight: bold;
        }
        .mat-raised-button:hover{
            background-color: $light-white;
            color: $dark-light;
            font-weight: bold;
        }
    }
    .skill{
        img{
            width: 50px;
            height: 50px;
            background-color: $light-white;
            padding: 5px;
            border-radius: 5px;
            margin: 3px;
        }
    }
    
}
}
.light{
    .container-fluid{
        background-color: $light-main;
        color: $light-white;
    }
}

.dark{
    .container-fluid{
        background-color: $light-main;
        color: $light-white;
    }
}