/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&family=Indie+Flower&display=swap');

$light-main: #7510F7;
$light-white: #fff;

$dark-black: #14121f;
$dark-light: #211f30;


html, body { height: 100%; scroll-behavior: smooth !important; overflow-x: hidden; }
body { margin: 0; 
    font-family: 'Indie Flower', cursive;
    // font-family: 'Amatic SC', cursive !important;
    font-family: 'Architects Daughter', cursive;
    letter-spacing: 2px; 
}
