
@import './resume.scss';

.generate-pdf{
  position: fixed;
  z-index: 9;
}
/*========== Classes modified to reduce size and print on A4 sheet ==========*/
body{
  margin: 0;
  padding: 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
  height: 100vh !important;
}

.scale-cv .bd-container{
  max-width: 150px;
  height: 100vh;
}

.scale-cv .section{
  padding: 1.5rem 0 .80rem;
}
.scale-cv .section-title{
   margin-bottom: .75rem;
}
.scale-cv .resume__left,.scale-cv .resume__right{
  padding: 0 1rem;
}
.scale-cv .home__img{
  width: 90px;
  height: 90px;
}
.scale-cv .home__container{
  gap: 1.5rem;
}
.scale-cv .home__data{
  gap: .25rem;
}
.scale-cv .home__address,
.scale-cv .social__container{
gap: .75rem;
}
.scale-cv .home__icon,.scale-cv .social__icon,
.scale-cv .interests__icon{
font-size: 1rem;
}
.scale-cv .education__conatiner,
.scale-cv .experience__container,
.scale-cv .certificate__container{
gap: 1rem;
}
.scale-cv .education__time,
.scale-cv .experience__time{
padding-right: .5rem;
}
.scale-cv .education__rounder,
.scale-cv .experience__rounder{
 width: 11px;
 height: 11px;
 margin-top: .22rem;
}
.scale-cv .education__line,.scale-cv .experience__line{
  width: 1px;
  height: 120%;
  transform: translate(5px,0);
}
.scale-cv .education__data,.scale-cv .experience__data{
  gap: .25rem;
}
.scale-cv .skills__name{
  margin-bottom: $mb-1;
}
.scale-cv .interests__container{
  column-gap: 2.5rem;
}
h1,h2,h3,ul,p{

  margin: 0;

}
h1,h2,h3{
  color: $title-color;
  font-weight: $font-medium;
  font-size: $h1-font-size;
}
ul{
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
/*========== CLASS CSS ==========*/
.section{
  padding: 1.5rem 0;
} 
.section-title{
  font-size: $h2-font-size;
  color: $title-color;
  font-weight: $font-semi-bold;
  text-transform: uppercase;
  letter-spacing: .35rem ;
  text-align: center;
  margin-bottom: $mb-3;
}
/*========== LAYOUT ==========*/
.bd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: $mb-3;
  margin-right: $mb-3;
}
.bd-grid{
  display: grid;
  gap: 1.5rem;
}
.l-header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;
  box-shadow: 0 -1px 4px rgba(0,0, 0,.1);
  transition: .3s;

}

/*========== Generate PDF button ==========*/
.generate-pdf{
  /* display: none; */ 
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: $text-color;
  cursor: pointer;
}
.genrate-pdf:hover{
  color: $title-color;

}


/*========== HOME ==========*/
.home{
  position: relative;
  .home__container{
    gap:3rem;
    .home__data{
      gap: .5rem;
      text-align: center;
      .home__img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
         justify-self: center;
         margin-bottom: $mb-1;
      }
      .home-title h1{
        font-size: $h1-font-size;
      }
      .home-profession{
        font-size: $normal-font-size;
        margin-bottom: $mb-1;
      }
    }
    .home__address{
      gap: 1rem;
    }
    .home__infomation{
      display: flex;
      align-items: center;
      font-size: $smaller-font-size;
    }
    .home__icon{
      font-size: 1rem;
      margin-right: .2rem;
    }
    .home__button-movil{
      display: inline-block;
      border: 2px solid $text-color;
      padding: 1rem 2rem;
      border-radius: .25rem;
      transition: .3s;
      font-weight: $font-medium;
      margin-top: $mb-3;
      color: $title-color
    }
    .home__button-movil:hover{
      background-color: $text-color;
      color: $container-color;
    }
  }
}
/*========== SOCIAL ==========*/
.social__container{
  grid-template-columns: max-content;
  gap: 1rem;
  margin-bottom: $mb-2;
  .social__link{
    display: inline-flex;
    align-items: center;
    font-size: $small-font-size;
    color: $text-color;
  }
  .social__link:hover{
    color: $title-color;
  }
  .social__icon{
    font-size: 1.2rem;
    margin-right: .25rem;
  }
}
/*========== PROFILE ==========*/
 .profile__description{
   text-align: center;
 }

/*========== EDUCATION AND EXPERIENCE ==========*/
.education__content,.experience__content{
  display: flex;
.education__time,.experience__time{
  padding-right: 1rem;
}

.education__rounder,.experience__rounder{
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: $text-color-light;
  border-radius: 50%;
  margin-top: .25rem;
}
.education__line,.experience__line{
  display: block;
  width: 2px;
  height: 125%;
  background-color: $text-color-light;
  transform: translate(7px,0);
}
.education__data,.experience__data{
  gap: .5rem;
}
.education__title,.experience__title{
  font-size: $h3-font-size;
  font-weight: $font-medium;
}
.education__studies,.experience__company{
  font-size: $small-font-size;
  color: $title-color;
}
.education__year{
  font-size: $smaller-font-size;
}

}
/*========== SKILLS AND LANGUAGES ==========*/
.skills__content,.languages__content{
  grid-template-columns: repeat(2,1fr);
}
.skills__content,.languages__content{
  gap: 0;
}
.skills__name,.languages__name{
  display: flex;
  align-items: center;
  margin-bottom: $mb-3;
}
.skills__circle,.languages__circle{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: $text-color;
  border-radius: 50%;
  margin-right: .75rem;
}
 
/*========== CERTIFICATES ==========*/
 .certificate__title{
   font-size: $h3-font-size;
   margin-bottom: $mb-1 ;
   font-weight: $font-medium;
 }

/*========== REFERENCES ==========*/
.references__content{
  gap: .25rem;
}
.references__subtitle{
  color: $text-color-light;
}
.references__subtitle,.references__contact{
  font-size: $h3-font-size;
}
.references__title{
  font-size: $h3-font-size;
}
.references__content a{
  color: $text-color;
}



/*========== INTERESTS ==========*/
.interests__container{
  grid-template-columns: repeat(3,1fr);
  margin-top: $mb-2;
}
.interests__content{
  display: flex;
  flex-direction: column;
  align-items: center ;
}
.interests__icon{
  font-size: 1.5rem;
  color: $text-color-light; 
  margin-bottom: .25rem;
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: $container-color-alt;
  border-radius: .4rem;
  z-index: $z-tooltip;
  transition: .4s;
  visibility:hidden;
}
.scrolltop__icon{
  font-size: 1.2rem;
  color: $text-color;
}
.show-scroll{
  visibility: visible;
  bottom: 5rem;
}


/* Classes modified for large screen size */
@media screen and (min-width: 968px){
  body{
    margin: 3rem 0; 
  }
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }
  .l-header,
  .scrolltop{
    display: none;
  }
  .resume{
    display: grid;
    grid-template-columns: .5fr 1fr;
    background-color: $container-color;
    box-shadow: 0 0 8px rgba(13,12,12,.15);
  }
  .resume__left{
    background-color: $container-color-alt;

  } 
  .resume__left,.resume__right{
    padding: 0 1.5rem;
  }
  .section-title, .profile__description{
    text-align: initial;
  }
  .home__container{
    gap: 1.5rem;  
  }
  .home__button-movil{
    display: none;
  }
  .references__container{
    grid-template-columns: repeat(2,1fr);
  }
  .languages__content{
    grid-template-columns: repeat(3,max-content);
    column-gap: 3.5rem;
  }
  .interests__container{
    grid-template-columns: repeat(4 ,max-content);
    column-gap: 3.5rem;
  }
  .genrate-pdf{
    display: inline-block;
  }
}
 