@import '../../../styles.scss';
.container-fluid{
    .row{
        padding: 50px 10px;
        .about_heading {
            font-size: 30px ;
            font-weight: bold;
        }
        .expereince_img{
            img{
                width: 80px;
                height: 80px;
            }
        }
    }
}